node_modules
*.log
.nyc_output
test-results.xml
coverage
src/server/static/bundle.js
src/server/static/components/
tags
.idea/
.env.local

src/importers/mfiles/customers/data
src/importers/mfiles/customers/out

src/server/static/stats.html
